
@model Roadsters.Models.ViewModels.AccessorieViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-light">Edit Accessorie</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundColor row">
        <input type="hidden" asp-for="Accessorie.Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Accessorie.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Accessorie.Name" class="form-control" />
                </div>
                <span asp-validation-for="Accessorie.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Accessorie.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Accessorie.Description)
                </div>
                <span asp-validation-for="Accessorie.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Accessorie.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Accessorie.Price" class="form-control" />
                </div>
                <span asp-validation-for="Accessorie.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Accessorie.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Accessorie.Stock" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Accessorie.Stock" asp-items="Html.GetEnumSelectList<Accessorie.EStock>()" class="form-control"></select>
                </div>
            </div>

        </div>
        <div class="col-3 offset-1">
            <img src="@Model.Accessorie.Image" width="100%" ; height="50%" ; style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackButton" model="Model.Accessorie.Id" />
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
   
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

